@media screen and (max-width: 700px) {

    header {
        min-height: 140px;
        text-align: center;
        display: block;
    }

    nav {
        display: none;
    }

    .titulo {
        font-size: 40px;
        font-weight: bold;
        padding-top: 34px;
        align-items: center;
    }

    .subtitulo {
        font-size: 20px;
        padding-top: 7px;
        align-items: center;
    }
}


/* Geral */

header {
    background-color: #B48307;
}

* {
    font-family: 'Georama', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Rowdies', cursive;
    min-width: 320px; 
    max-width: 1400px; 
}

@media screen and (max-width: 440px) {
    header {
        min-height: 150px;
        text-align: center;
    }

    .titulo {
        font-size: 25px;
        padding-top: 50px;
    }

    .subtitulo {
        font-size: 18px;
    }
}